.Wdate{
	width:120px;
	height:26px;
	border-radius:5px;
	ime-mode:disabled;
	font-size:14px;

	border:none;
	background-color:transparent;
	border: 1px solid #ccc;
}
.manage-car-right-work-data-top-seach-cartype-carNum{
	padding-top:5px; 
	margin-left: 10px;	
	height:48%;
	width:100%;	
	
}
.manage-car-right-work-seach-btn-class{
	width:25%;
	height:20%;

	font-size:16px;
	border-radius:10px;

	margin-top: 10px;
	background:#09F;
	color:#FFF;
	font-weight:bold;
border: 1px solid #000;
}

.statistical-chart{
	height:100%;
	width:98%;
	margin-top:15px; 
	margin-left:5px;
}

.manage-Monitor-right-work-wap{
	width:100%;
	height:100%;
	float:right;

	
}

#manage-Monitor-work-map-id-map{
    width:100%;
	height:100%;
	
}


.manage-car-right-work-data-top-seach-car{
	
	height:100%;
	width:70%;
	float:left;
	border: 1px solid #ccc;

}
.manage-car-right-work-data-top-seach-cartype-carNum{
	padding-top:5px; 
	margin-left: 10px;	
	height:48%;
	width:100%;	
	
}
.manage-car-right-work-data-top-seach-cartype-carType{
		margin-left: 10px;	
	padding-top:5px;
	height:48%;
	width:100%;

}
.manage-car-right-work-seach-info1-select{
	width:90px;
	height:30px;
	border-radius:5px;
	ime-mode:disabled;
	font-size:14px;

	border:none;
	background-color:transparent;
	border: 1px solid #ccc;
}
.statis-right-work-data-top-seach{
	width:100%;
	height:15%;

	border: 1px solid #000;
}
.statis-right-work-data-top-seach-type{

	padding-top:5px; 

	height:20%;
	width:100%;	

}
.statis-right-work-data-top-seach-date-start{


	height:20%;
	width:100%;


}
.statis-right-work-data-top-seach-date-end{
	
	height:20%;
	width:100%;
;
}