<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jbt.dao.CarMsgInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jbt.bean.CarMsgInfo" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="deviceTime" property="devicetime" jdbcType="BIGINT" />
    <result column="sim" property="sim" jdbcType="VARCHAR" />
    <result column="serialNumber" property="serialnumber" jdbcType="INTEGER" />
    <result column="warn" property="warn" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="latitude" property="latitude" jdbcType="REAL" />
    <result column="longitude" property="longitude" jdbcType="REAL" />
    <result column="elevation" property="elevation" jdbcType="INTEGER" />
    <result column="velocity" property="velocity" jdbcType="INTEGER" />
    <result column="direction" property="direction" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="mileage" property="mileage" jdbcType="REAL" />
    <result column="oilMass" property="oilmass" jdbcType="REAL" />
    <result column="recorderVelocity" property="recordervelocity" jdbcType="INTEGER" />
    <result column="speed" property="speed" jdbcType="INTEGER" />
    <result column="coolantTemperature" property="coolanttemperature" jdbcType="INTEGER" />
    <result column="manifoldPressure" property="manifoldpressure" jdbcType="INTEGER" />
    <result column="airFlow" property="airflow" jdbcType="REAL" />
    <result column="cumulativeKilometers" property="cumulativekilometers" jdbcType="REAL" />
    <result column="idleFuelConsumption" property="idlefuelconsumption" jdbcType="REAL" />
    <result column="dynamicFuelConsumption" property="dynamicfuelconsumption" jdbcType="REAL" />
    <result column="instantFuelConsumption" property="instantfuelconsumption" jdbcType="REAL" />
    <result column="fuelConsumption" property="fuelconsumption" jdbcType="REAL" />
    <result column="voltage" property="voltage" jdbcType="REAL" />
    <result column="addTime" property="addtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, sn, deviceTime, sim, serialNumber, warn, state, latitude, longitude, elevation, 
    velocity, direction, time, mileage, oilMass, recorderVelocity, speed, coolantTemperature, 
    manifoldPressure, airFlow, cumulativeKilometers, idleFuelConsumption, dynamicFuelConsumption, 
    instantFuelConsumption, fuelConsumption, voltage, addTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car_msg_info
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car_msg_info
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jbt.bean.CarMsgInfo" >
    insert into car_msg_info (Id, sn, deviceTime, 
      sim, serialNumber, warn, 
      state, latitude, longitude, 
      elevation, velocity, direction, 
      time, mileage, oilMass, recorderVelocity, 
      speed, coolantTemperature, manifoldPressure, 
      airFlow, cumulativeKilometers, idleFuelConsumption, 
      dynamicFuelConsumption, instantFuelConsumption, 
      fuelConsumption, voltage, addTime
      )
    values (#{id,jdbcType=INTEGER}, #{sn,jdbcType=VARCHAR}, #{devicetime,jdbcType=BIGINT}, 
      #{sim,jdbcType=VARCHAR}, #{serialnumber,jdbcType=INTEGER}, #{warn,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{latitude,jdbcType=REAL}, #{longitude,jdbcType=REAL}, 
      #{elevation,jdbcType=INTEGER}, #{velocity,jdbcType=INTEGER}, #{direction,jdbcType=INTEGER}, 
      #{time,jdbcType=VARCHAR}, #{mileage,jdbcType=REAL}, #{oilmass,jdbcType=REAL}, #{recordervelocity,jdbcType=INTEGER}, 
      #{speed,jdbcType=INTEGER}, #{coolanttemperature,jdbcType=INTEGER}, #{manifoldpressure,jdbcType=INTEGER}, 
      #{airflow,jdbcType=REAL}, #{cumulativekilometers,jdbcType=REAL}, #{idlefuelconsumption,jdbcType=REAL}, 
      #{dynamicfuelconsumption,jdbcType=REAL}, #{instantfuelconsumption,jdbcType=REAL}, 
      #{fuelconsumption,jdbcType=REAL}, #{voltage,jdbcType=REAL}, #{addtime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jbt.bean.CarMsgInfo" >
    insert into car_msg_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="devicetime != null" >
        deviceTime,
      </if>
      <if test="sim != null" >
        sim,
      </if>
      <if test="serialnumber != null" >
        serialNumber,
      </if>
      <if test="warn != null" >
        warn,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="elevation != null" >
        elevation,
      </if>
      <if test="velocity != null" >
        velocity,
      </if>
      <if test="direction != null" >
        direction,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="mileage != null" >
        mileage,
      </if>
      <if test="oilmass != null" >
        oilMass,
      </if>
      <if test="recordervelocity != null" >
        recorderVelocity,
      </if>
      <if test="speed != null" >
        speed,
      </if>
      <if test="coolanttemperature != null" >
        coolantTemperature,
      </if>
      <if test="manifoldpressure != null" >
        manifoldPressure,
      </if>
      <if test="airflow != null" >
        airFlow,
      </if>
      <if test="cumulativekilometers != null" >
        cumulativeKilometers,
      </if>
      <if test="idlefuelconsumption != null" >
        idleFuelConsumption,
      </if>
      <if test="dynamicfuelconsumption != null" >
        dynamicFuelConsumption,
      </if>
      <if test="instantfuelconsumption != null" >
        instantFuelConsumption,
      </if>
      <if test="fuelconsumption != null" >
        fuelConsumption,
      </if>
      <if test="voltage != null" >
        voltage,
      </if>
      <if test="addtime != null" >
        addTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="devicetime != null" >
        #{devicetime,jdbcType=BIGINT},
      </if>
      <if test="sim != null" >
        #{sim,jdbcType=VARCHAR},
      </if>
      <if test="serialnumber != null" >
        #{serialnumber,jdbcType=INTEGER},
      </if>
      <if test="warn != null" >
        #{warn,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=REAL},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=REAL},
      </if>
      <if test="elevation != null" >
        #{elevation,jdbcType=INTEGER},
      </if>
      <if test="velocity != null" >
        #{velocity,jdbcType=INTEGER},
      </if>
      <if test="direction != null" >
        #{direction,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null" >
        #{mileage,jdbcType=REAL},
      </if>
      <if test="oilmass != null" >
        #{oilmass,jdbcType=REAL},
      </if>
      <if test="recordervelocity != null" >
        #{recordervelocity,jdbcType=INTEGER},
      </if>
      <if test="speed != null" >
        #{speed,jdbcType=INTEGER},
      </if>
      <if test="coolanttemperature != null" >
        #{coolanttemperature,jdbcType=INTEGER},
      </if>
      <if test="manifoldpressure != null" >
        #{manifoldpressure,jdbcType=INTEGER},
      </if>
      <if test="airflow != null" >
        #{airflow,jdbcType=REAL},
      </if>
      <if test="cumulativekilometers != null" >
        #{cumulativekilometers,jdbcType=REAL},
      </if>
      <if test="idlefuelconsumption != null" >
        #{idlefuelconsumption,jdbcType=REAL},
      </if>
      <if test="dynamicfuelconsumption != null" >
        #{dynamicfuelconsumption,jdbcType=REAL},
      </if>
      <if test="instantfuelconsumption != null" >
        #{instantfuelconsumption,jdbcType=REAL},
      </if>
      <if test="fuelconsumption != null" >
        #{fuelconsumption,jdbcType=REAL},
      </if>
      <if test="voltage != null" >
        #{voltage,jdbcType=REAL},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jbt.bean.CarMsgInfo" >
    update car_msg_info
    <set >
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="devicetime != null" >
        deviceTime = #{devicetime,jdbcType=BIGINT},
      </if>
      <if test="sim != null" >
        sim = #{sim,jdbcType=VARCHAR},
      </if>
      <if test="serialnumber != null" >
        serialNumber = #{serialnumber,jdbcType=INTEGER},
      </if>
      <if test="warn != null" >
        warn = #{warn,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=REAL},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=REAL},
      </if>
      <if test="elevation != null" >
        elevation = #{elevation,jdbcType=INTEGER},
      </if>
      <if test="velocity != null" >
        velocity = #{velocity,jdbcType=INTEGER},
      </if>
      <if test="direction != null" >
        direction = #{direction,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null" >
        mileage = #{mileage,jdbcType=REAL},
      </if>
      <if test="oilmass != null" >
        oilMass = #{oilmass,jdbcType=REAL},
      </if>
      <if test="recordervelocity != null" >
        recorderVelocity = #{recordervelocity,jdbcType=INTEGER},
      </if>
      <if test="speed != null" >
        speed = #{speed,jdbcType=INTEGER},
      </if>
      <if test="coolanttemperature != null" >
        coolantTemperature = #{coolanttemperature,jdbcType=INTEGER},
      </if>
      <if test="manifoldpressure != null" >
        manifoldPressure = #{manifoldpressure,jdbcType=INTEGER},
      </if>
      <if test="airflow != null" >
        airFlow = #{airflow,jdbcType=REAL},
      </if>
      <if test="cumulativekilometers != null" >
        cumulativeKilometers = #{cumulativekilometers,jdbcType=REAL},
      </if>
      <if test="idlefuelconsumption != null" >
        idleFuelConsumption = #{idlefuelconsumption,jdbcType=REAL},
      </if>
      <if test="dynamicfuelconsumption != null" >
        dynamicFuelConsumption = #{dynamicfuelconsumption,jdbcType=REAL},
      </if>
      <if test="instantfuelconsumption != null" >
        instantFuelConsumption = #{instantfuelconsumption,jdbcType=REAL},
      </if>
      <if test="fuelconsumption != null" >
        fuelConsumption = #{fuelconsumption,jdbcType=REAL},
      </if>
      <if test="voltage != null" >
        voltage = #{voltage,jdbcType=REAL},
      </if>
      <if test="addtime != null" >
        addTime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jbt.bean.CarMsgInfo" >
    update car_msg_info
    set sn = #{sn,jdbcType=VARCHAR},
      deviceTime = #{devicetime,jdbcType=BIGINT},
      sim = #{sim,jdbcType=VARCHAR},
      serialNumber = #{serialnumber,jdbcType=INTEGER},
      warn = #{warn,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      latitude = #{latitude,jdbcType=REAL},
      longitude = #{longitude,jdbcType=REAL},
      elevation = #{elevation,jdbcType=INTEGER},
      velocity = #{velocity,jdbcType=INTEGER},
      direction = #{direction,jdbcType=INTEGER},
      time = #{time,jdbcType=VARCHAR},
      mileage = #{mileage,jdbcType=REAL},
      oilMass = #{oilmass,jdbcType=REAL},
      recorderVelocity = #{recordervelocity,jdbcType=INTEGER},
      speed = #{speed,jdbcType=INTEGER},
      coolantTemperature = #{coolanttemperature,jdbcType=INTEGER},
      manifoldPressure = #{manifoldpressure,jdbcType=INTEGER},
      airFlow = #{airflow,jdbcType=REAL},
      cumulativeKilometers = #{cumulativekilometers,jdbcType=REAL},
      idleFuelConsumption = #{idlefuelconsumption,jdbcType=REAL},
      dynamicFuelConsumption = #{dynamicfuelconsumption,jdbcType=REAL},
      instantFuelConsumption = #{instantfuelconsumption,jdbcType=REAL},
      fuelConsumption = #{fuelconsumption,jdbcType=REAL},
      voltage = #{voltage,jdbcType=REAL},
      addTime = #{addtime,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <select id="searchBySnList" resultType="java.util.HashMap" parameterType="java.lang.Integer">
 SELECT a.* from (SELECT cm.sn,cm.latitude,cm.longitude,cm.state,c.plateNumber FROM sector_info AS s JOIN car_info AS c ON c.sectorInfo=s.id JOIN car_msg_info AS cm ON cm.sn=c.sn WHERE s.id=#{sectorId} ORDER BY cm.addTime desc) as a GROUP BY a.sn
  </select>
  <select id="searchBySn" resultType="java.util.HashMap" parameterType="java.lang.String">
 SELECT state,mileage,speed,voltage,coolantTemperature,instantFuelConsumption,fuelConsumption,longitude,latitude,oilMass,recorderVelocity,addTime FROM motorcade.car_msg_info WHERE sn = #{sn} ORDER BY addTime desc LIMIT 0,1
  </select>
  <select id="searchBySn1" resultType="java.util.HashMap" parameterType="java.lang.String">
 SELECT cm.sn,cm.latitude,cm.longitude,cm.state,c.plateNumber FROM car_msg_info AS cm JOIN car_info AS c ON cm.sn=c.sn WHERE cm.sn= #{sn} ORDER BY cm.addTime desc LIMIT 0,1
  </select>
</mapper>