<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jbt.dao.CrawlInfoMapper">
	<resultMap id="BaseResultMap" type="com.jbt.bean.CrawlInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="crawlName" property="crawlname" jdbcType="VARCHAR" />
		<result column="creatTime" property="creattime" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<association property="manager" column="manager"
			select="com.jbt.dao.ManagerInfoMapper.selectByPrimaryKey" />
	</resultMap>
	<sql id="Base_Column_List">
		id, crawlName, manager, creatTime, state
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from crawl_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from crawl_info
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.jbt.bean.CrawlInfo"
		useGeneratedKeys="true" keyProperty="id">
		insert into crawl_info (id, crawlName, manager,
		creatTime, state)
		values (#{id,jdbcType=INTEGER}, #{crawlname,jdbcType=VARCHAR},
		#{manager.id,jdbcType=INTEGER},
		#{creattime,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.jbt.bean.CrawlInfo">
		insert into crawl_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="crawlname != null">
				crawlName,
			</if>
			<if test="manager != null">
				manager,
			</if>
			<if test="creattime != null">
				creatTime,
			</if>
			<if test="state != null">
				state,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="crawlname != null">
				#{crawlname,jdbcType=VARCHAR},
			</if>
			<if test="manager != null">
				#{manager.id,jdbcType=INTEGER},
			</if>
			<if test="creattime != null">
				#{creattime,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jbt.bean.CrawlInfo">
		update crawl_info
		<set>
			<if test="crawlname != null">
				crawlName = #{crawlname,jdbcType=VARCHAR},
			</if>
			<if test="manager != null">
				manager = #{manager.id,jdbcType=INTEGER},
			</if>
			<if test="creattime != null">
				creatTime = #{creattime,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jbt.bean.CrawlInfo">
		update crawl_info
		set crawlName = #{crawlname,jdbcType=VARCHAR},
		manager = #{manager.id,jdbcType=INTEGER},
		creatTime = #{creattime,jdbcType=VARCHAR},
		state = #{state,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<!-- 根据条件查询围栏 -->
	<select id="getCrawlList" resultMap="BaseResultMap">
		SELECT c.* FROM crawl_info AS c JOIN manager_info AS m ON
		c.manager=m.id WHERE c.manager= #{managerId}
		<if test="crawlInfo.crawlname!=null and crawlInfo.crawlname!=''">
		and	c.crawlName like CONCAT(CONCAT('%', #{crawlInfo.crawlname}),'%')</if>
	    and c.state=0 order by c.creatTime desc
		limit #{start},#{pageSize}
	</select>
	<!-- 根据条件查询围栏记录条数 -->
	<select id="getCrawlCount" parameterType="com.jbt.bean.CrawlInfo"
		resultType="java.lang.Integer">
		SELECT count(c.id) FROM crawl_info AS c JOIN manager_info AS m ON
		c.manager=m.id WHERE c.manager= #{managerId}
		<if test="crawlInfo.crawlname!=null and crawlInfo.crawlname!=''">
		and	c.crawlName like CONCAT(CONCAT('%', #{crawlInfo.crawlname}),'%')</if>
	    and c.state=0
	</select>
</mapper>