<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jbt.dao.CrawlWarnInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jbt.bean.CrawlWarnInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="crawlName" property="crawlname" jdbcType="VARCHAR" />
    <result column="warnType" property="warntype" jdbcType="INTEGER" />
    <result column="chartType" property="charttype" jdbcType="INTEGER" />
    <result column="circlePoint" property="circlepoint" jdbcType="VARCHAR" />
    <result column="circleRadius" property="circleradius" jdbcType="VARCHAR" />
    <result column="polygonPoint" property="polygonpoint" jdbcType="VARCHAR" />
    <result column="validityStart" property="validitystart" jdbcType="VARCHAR" />
    <result column="validityEnd" property="validityend" jdbcType="VARCHAR" />
    <result column="parkTime" property="parktime" jdbcType="INTEGER" />
    <result column="idleTime" property="idletime" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <association property="crawlinfo" column="crawlinfo" select="com.jbt.dao.CrawlInfoMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, crawlName, warnType, chartType, circlePoint, circleRadius, polygonPoint, validityStart, 
    validityEnd, parkTime, idleTime, crawlInfo, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from crawl_warn_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from crawl_warn_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jbt.bean.CrawlWarnInfo" useGeneratedKeys="true" keyProperty="id">
    insert into crawl_warn_info (id, crawlName, warnType, 
      chartType, circlePoint, circleRadius, 
      polygonPoint, validityStart, validityEnd,parkTime,idleTime,
      crawlInfo, state)
    values (#{id,jdbcType=INTEGER}, #{crawlname,jdbcType=VARCHAR}, #{warntype,jdbcType=INTEGER}, 
      #{charttype,jdbcType=INTEGER}, #{circlepoint,jdbcType=VARCHAR}, #{circleradius,jdbcType=VARCHAR}, 
      #{polygonpoint,jdbcType=VARCHAR}, #{validitystart,jdbcType=VARCHAR}, #{validityend,jdbcType=VARCHAR}, #{parktime,jdbcType=INTEGER}, #{idletime,jdbcType=INTEGER},
      #{crawlinfo.id,jdbcType=INTEGER}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jbt.bean.CrawlWarnInfo" >
    insert into crawl_warn_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="crawlname != null" >
        crawlName,
      </if>
      <if test="warntype != null" >
        warnType,
      </if>
      <if test="charttype != null" >
        chartType,
      </if>
      <if test="circlepoint != null" >
        circlePoint,
      </if>
      <if test="circleradius != null" >
        circleRadius,
      </if>
      <if test="polygonpoint != null" >
        polygonPoint,
      </if>
      <if test="validitystart != null" >
        validityStart,
      </if>
      <if test="validityend != null" >
        validityEnd,
      </if>
      <if test="parktime != null" >
        parkTime,
      </if>
      <if test="idletime != null" >
        idleTime,
      </if>
      <if test="crawlinfo != null" >
        crawlInfo,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="crawlname != null" >
        #{crawlname,jdbcType=VARCHAR},
      </if>
      <if test="warntype != null" >
        #{warntype,jdbcType=INTEGER},
      </if>
      <if test="charttype != null" >
        #{charttype,jdbcType=INTEGER},
      </if>
      <if test="circlepoint != null" >
        #{circlepoint,jdbcType=VARCHAR},
      </if>
      <if test="circleradius != null" >
        #{circleradius,jdbcType=VARCHAR},
      </if>
      <if test="polygonpoint != null" >
        #{polygonpoint,jdbcType=VARCHAR},
      </if>
      <if test="validitystart != null" >
        #{validitystart,jdbcType=VARCHAR},
      </if>
      <if test="validityend != null" >
        #{validityend,jdbcType=VARCHAR},
      </if>
      <if test="parktime != null" >
        #{parktime,jdbcType=INTEGER},
      </if>
      <if test="idletime != null" >
        #{idletime,jdbcType=INTEGER},
      </if>
      <if test="crawlinfo != null" >
        #{crawlinfo.id,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jbt.bean.CrawlWarnInfo" >
    update crawl_warn_info
    <set >
      <if test="crawlname != null" >
        crawlName = #{crawlname,jdbcType=VARCHAR},
      </if>
      <if test="warntype != null" >
        warnType = #{warntype,jdbcType=INTEGER},
      </if>
      <if test="charttype != null" >
        chartType = #{charttype,jdbcType=INTEGER},
      </if>
      <if test="circlepoint != null" >
        circlePoint = #{circlepoint,jdbcType=VARCHAR},
      </if>
      <if test="circleradius != null" >
        circleRadius = #{circleradius,jdbcType=VARCHAR},
      </if>
      <if test="polygonpoint != null" >
        polygonPoint = #{polygonpoint,jdbcType=VARCHAR},
      </if>
      <if test="validitystart != null" >
        validityStart = #{validitystart,jdbcType=VARCHAR},
      </if>
      <if test="validityend != null" >
        validityEnd = #{validityend,jdbcType=VARCHAR},
      </if>
      <if test="parktime != null" >
        #{parkTime,jdbcType=INTEGER},
      </if>
      <if test="idletime != null" >
        #{idleTime,jdbcType=INTEGER},
      </if>
      <if test="crawlinfo != null" >
        crawlInfo = #{crawlinfo.id,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jbt.bean.CrawlWarnInfo" >
    update crawl_warn_info
    set crawlName = #{crawlname,jdbcType=VARCHAR},
      warnType = #{warntype,jdbcType=INTEGER},
      chartType = #{charttype,jdbcType=INTEGER},
      circlePoint = #{circlepoint,jdbcType=VARCHAR},
      circleRadius = #{circleradius,jdbcType=VARCHAR},
      polygonPoint = #{polygonpoint,jdbcType=VARCHAR},
      validityStart = #{validitystart,jdbcType=VARCHAR},
      validityEnd = #{validityend,jdbcType=VARCHAR},
      parkTime = #{parktime,jdbcType=INTEGER},
      idleTime = #{idletime,jdbcType=INTEGER},
      crawlInfo = #{crawlinfo.id,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <select id="searchById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from crawl_warn_info where id in
    <foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
 	#{item}  
	</foreach>
    </select>
</mapper>