<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jbt.dao.CrawlCarInfoMapper">
	<resultMap id="BaseResultMap" type="com.jbt.bean.CrawlCarInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="addTime" property="addtime" jdbcType="VARCHAR" />
		<result column="crawlwarnId" property="crawlwarnid" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="sn" property="sn" jdbcType="VARCHAR" />
		<result column="crawlName" property="crawlname" jdbcType="VARCHAR" />
		<result column="managerId" property="managerid" jdbcType="VARCHAR" />
		<association column="carId" property="carid"
			select="com.jbt.dao.CarInfoMapper.selectByPrimaryKey" />
	</resultMap>
	<sql id="Base_Column_List">
		id, carId, crawlwarnId, addTime, state, sn, crawlName,
		managerId
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from crawl_car_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		crawl_car_info
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.jbt.bean.CrawlCarInfo">
		insert into crawl_car_info
		(id, carId, crawlwarnId,
		addTime, state, sn, crawlName, managerId
		)
		values (#{id,jdbcType=INTEGER}, #{carid.id,jdbcType=INTEGER},
		#{crawlwarnid,jdbcType=VARCHAR},
		#{addtime,jdbcType=VARCHAR},
		#{state,jdbcType=INTEGER}, #{sn,jdbcType=VARCHAR},
		#{crawlname,jdbcType=VARCHAR}, #{managerid,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.jbt.bean.CrawlCarInfo">
		insert into crawl_car_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="carid != null">
				carId,
			</if>
			<if test="crawlwarnid != null">
				crawlwarnId,
			</if>
			<if test="addtime != null">
				addTime,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="sn != null">
				sn,
			</if>
			<if test="crawlname != null">
				crawlName,
			</if>
			<if test="managerid != null">
				managerId,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="carid != null">
				#{carid.id,jdbcType=INTEGER},
			</if>
			<if test="crawlwarnid != null">
				#{crawlwarnid,jdbcType=VARCHAR},
			</if>
			<if test="addtime != null">
				#{addtime,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="sn != null">
				#{sn,jdbcType=VARCHAR},
			</if>
			<if test="crawlname != null">
				#{crawlname,jdbcType=VARCHAR},
			</if>
			<if test="managerid != null">
				#{managerid,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jbt.bean.CrawlCarInfo">
		update crawl_car_info
		<set>
			<if test="carid != null">
				carId = #{carid.id,jdbcType=INTEGER},
			</if>
			<if test="crawlwarnid != null">
				crawlwarnId = #{crawlwarnid,jdbcType=VARCHAR},
			</if>
			<if test="addtime != null">
				addTime = #{addtime,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			<if test="sn != null">
				sn = #{sn,jdbcType=VARCHAR},
			</if>
			<if test="crawlname != null">
				crawlName = #{crawlname,jdbcType=VARCHAR},
			</if>
			<if test="carid != null">
				managerId = #{managerid,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jbt.bean.CrawlCarInfo">
		update
		crawl_car_info
		set carId = #{carid.id,jdbcType=INTEGER},
		crawlwarnId =
		#{crawlwarnid,jdbcType=VARCHAR},
		addTime = #{addtime,jdbcType=VARCHAR},
		state = #{state,jdbcType=INTEGER},
		sn = #{sn,jdbcType=VARCHAR},
		crawlName = #{crawlname,jdbcType=VARCHAR},
		managerId =
		#{managerid,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="searchSnAndCrawlName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from crawl_car_info
		where state=0 and sn=#{sn} and
		managerId=#{managerName}
	</select>
	<select id="searchBySn" resultType="java.lang.String"
		parameterType="java.lang.String">
		select crawlwarnId
		from crawl_car_info
		where state=0 and sn=#{sn}
	</select>
	<select id="searchCrawlByManager" resultType="java.util.HashMap">
		SELECT a.* from (SELECT
		cw.id,c.crawlName,cw.warnType,cw.validityStart,cw.validityEnd,cw.idleTime,cw.parkTime,cw.chartType,cw.circlePoint,cw.circleRadius,cw.polygonPoint
		FROM crawl_info AS c JOIN crawl_warn_info AS cw ON c.id=cw.crawlInfo
		WHERE c.state=0 AND c.manager=#{managerId}
		<if test="crawlInfo.crawlname!=null and crawlInfo.crawlname!=''">
			and c.crawlName like CONCAT(CONCAT('%',
			#{crawlInfo.crawlname}),'%')
		</if>
		)AS a
	</select>
	<select id="searchByCrawlWarnId" resultType="java.util.HashMap">

		SELECT b.* from (SELECT
		a.crawlwarnId,cm.longitude,cm.latitude,cm.state,cm.sn,a.plateNumber
		from (SELECT cc.sn,cc.crawlwarnId,ci.plateNumber FROM crawl_info c
		JOIN crawl_warn_info cw ON cw.crawlInfo = c.id JOIN crawl_car_info cc
		ON FIND_IN_SET(cw.id,cc.crawlwarnId) JOIN car_info ci ON
		cc.carId=ci.id WHERE c.manager=#{managerId}
		<if test="crawlInfo.crawlname!=null and crawlInfo.crawlname!=''">
			and cw.crawlName like CONCAT(CONCAT('%',
			#{crawlInfo.crawlname}),'%')
		</if>
		  GROUP BY
		cc.sn) AS a JOIN car_msg_info AS cm ON a.sn=cm.sn ORDER BY cm.addTime
		desc) as b GROUP BY b.sn;
		<!-- SELECT a.* from
		(SELECT
		cc.crawlwarnId,cm.longitude,cm.latitude,cm.state,cm.sn,c.plateNumber
		FROM crawl_car_info AS cc JOIN car_msg_info AS cm ON cc.sn=cm.sn join
		car_info as c on c.id=cc.carId JOIN crawl_warn_info AS cw ON
		cc.crawlwarnId=cw.id JOIN crawl_info AS cri ON cw.crawlInfo=cri.id
		WHERE cri.manager=#{managerId}
		<if test="crawlInfo.crawlname!=null and crawlInfo.crawlname!=''">
			and cri.crawlName like CONCAT(CONCAT('%',
			#{crawlInfo.crawlname}),'%')
		</if>
		ORDER BY cm.addTime desc) AS a GROUP BY a.sn -->
	</select>
</mapper>