<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jbt.dao.FaultInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jbt.bean.FaultInfo" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="warn" property="warn" jdbcType="INTEGER" />
    <result column="systemCarId" property="systemcarid" jdbcType="INTEGER" />
    <result column="faultNum" property="faultnum" jdbcType="INTEGER" />
    <result column="faultLen" property="faultlen" jdbcType="INTEGER" />
    <result column="faultCode" property="faultcode" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="deviceTime" property="devicetime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, sn, warn, systemCarId, faultNum, faultLen, faultCode, state, deviceTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fault_info
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fault_info
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jbt.bean.FaultInfo" >
    insert into fault_info (Id, sn, warn, 
      systemCarId, faultNum, faultLen, 
      faultCode, state, deviceTime
      )
    values (#{id,jdbcType=INTEGER}, #{sn,jdbcType=VARCHAR}, #{warn,jdbcType=INTEGER}, 
      #{systemcarid,jdbcType=INTEGER}, #{faultnum,jdbcType=INTEGER}, #{faultlen,jdbcType=INTEGER}, 
      #{faultcode,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{devicetime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jbt.bean.FaultInfo" >
    insert into fault_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="warn != null" >
        warn,
      </if>
      <if test="systemcarid != null" >
        systemCarId,
      </if>
      <if test="faultnum != null" >
        faultNum,
      </if>
      <if test="faultlen != null" >
        faultLen,
      </if>
      <if test="faultcode != null" >
        faultCode,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="devicetime != null" >
        deviceTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="warn != null" >
        #{warn,jdbcType=INTEGER},
      </if>
      <if test="systemcarid != null" >
        #{systemcarid,jdbcType=INTEGER},
      </if>
      <if test="faultnum != null" >
        #{faultnum,jdbcType=INTEGER},
      </if>
      <if test="faultlen != null" >
        #{faultlen,jdbcType=INTEGER},
      </if>
      <if test="faultcode != null" >
        #{faultcode,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="devicetime != null" >
        #{devicetime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jbt.bean.FaultInfo" >
    update fault_info
    <set >
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="warn != null" >
        warn = #{warn,jdbcType=INTEGER},
      </if>
      <if test="systemcarid != null" >
        systemCarId = #{systemcarid,jdbcType=INTEGER},
      </if>
      <if test="faultnum != null" >
        faultNum = #{faultnum,jdbcType=INTEGER},
      </if>
      <if test="faultlen != null" >
        faultLen = #{faultlen,jdbcType=INTEGER},
      </if>
      <if test="faultcode != null" >
        faultCode = #{faultcode,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="devicetime != null" >
        deviceTime = #{devicetime,jdbcType=BIGINT},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jbt.bean.FaultInfo" >
    update fault_info
    set sn = #{sn,jdbcType=VARCHAR},
      warn = #{warn,jdbcType=INTEGER},
      systemCarId = #{systemcarid,jdbcType=INTEGER},
      faultNum = #{faultnum,jdbcType=INTEGER},
      faultLen = #{faultlen,jdbcType=INTEGER},
      faultCode = #{faultcode,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      deviceTime = #{devicetime,jdbcType=BIGINT}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>